name: "JFCLI: NodeJS"
on: push
permissions:
  actions: read # for detecting the Github Actions environment.
  id-token: write # for creating OIDC tokens for signing.
  packages: write # for uploading attestations.
  contents: read
  security-events: write # Required for uploading code scanning.
  attestations: write
env:
  JF_RT_URL: "https://${{vars.JF_NAME}}.jfrog.io"
  JOB_SUMMARY: false
  JFROG_CLI_LOG_LEVEL: DEBUG # DEBUG, INFO, WARN, ERROR
  BUILD_ID: "ga-${{github.run_number}}"
  DEFAULT_WORKSPACE: "${{github.workspace}}"  # /home/runner/work/spring-petclinic/spring-petclinic
jobs:
  npmPackage:
    name: "NPM"
    env:
      BUILD_NAME: "material-kit-react"
      RT_REPO_VIRTUAL: "material-kit-react-virtual"
    defaults:
       run:
         working-directory: "${{env.DEFAULT_WORKSPACE}}"

    runs-on: ubuntu-latest
    timeout-minutes: 30   # ref  https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#jobsjob_idtimeout-minutes
    steps:
      # Use the specific setup-cli branch. Ref https://github.com/marketplace/actions/setup-jfrog-cli
      - name: "Setup JFrog CLI"
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: ${{env.JF_RT_URL}}
          JFROG_CLI_LOG_LEVEL: ${{env.JFROG_CLI_LOG_LEVEL}}
          JFROG_CLI_RELEASES_REPO: '${{env.JF_RT_URL}}/artifactory/${{env.RT_REPO_VIRTUAL}}' 
          JFROG_CLI_EXTRACTORS_REMOTE: '${{env.JF_RT_URL}}/artifactory/${{env.RT_REPO_VIRTUAL}}'
          JF_GIT_TOKEN: ${{secrets.GITHUB_TOKEN}}      
        with:
          version: latest  #2.71.0
          oidc-provider-name: ${{vars.JF_OIDC_PROVIDER_NAME}}
          disable-job-summary: ${{env.JOB_SUMMARY}}

      - name: "Clone VCS"
        uses: actions/checkout@v4 # ref: https://github.com/actions/checkout

      - name: "Software version"
        run: |
          # JFrog CLI version
          jf --version
          # Ping the server
          jf rt ping
          # Java
          java -version
          # MVN
          mvn -version
          # Docker
          docker -v
          # Python
          python3 -V
          pip3 -V
          # jf config
          jf config show

      - name: "Config jf with repos"
        run: |
          jf npmc --repo-resolve $${{env.RT_REPO_VIRTUAL}} -repo-deploy $${{env.RT_REPO_VIRTUAL}}

      - name: "Cleaning node_modules and lock files"
        run: |
          pwd  
          tree .
          rm -rf node_modules
          rm -rf *-lock.json
          rm -rf *-lock.yaml
          rm -rf temp
          rm -rf .npmrc
          rm -rf .jfrog
          tree .

      - name: "Package: Create NPM Build"
        run: |    
          jf npm install --build-name=$${{env.BUILD_NAME}} --build-number=$${{env.BUILD_ID}}

      - name: "Package: Publish NPM Build"
        run: |
          jf npm publish --build-name=$${{env.BUILD_NAME}} --build-number=$${{env.BUILD_ID}} --detailed-summary=true

      # Build Info
          # US 
          #     Executive Order: 
          #       https://www.whitehouse.gov/briefing-room/presidential-actions/2021/05/12/executive-order-on-improving-the-nations-cybersecurity/
          #       https://www.nist.gov/itl/executive-order-14028-improving-nations-cybersecurity
          #    US Dept of Commerce: https://www.ntia.gov/page/software-bill-materials
          #    US Cyber Defence Agency: https://www.cisa.gov/sbom
          #    NIST: https://www.nist.gov/itl/executive-order-14028-improving-nations-cybersecurity/software-security-supply-chains-software-1
          #    NITA: https://www.ntia.gov/page/software-bill-materials 
          #    Centers for Medicare & Medicaid Services: https://security.cms.gov/learn/software-bill-materials-sbom
          # India
          #    CERT-IN: https://www.cert-in.org.in/sbom/
      - name: "BuildInfo: Collect env"
        run: jf rt bce ${{env.BUILD_NAME}} ${{env.BUILD_ID}} 

      - name: "BuildInfo: Adds dependencies"
        continue-on-error: true
        run: jf rt bad ${{env.BUILD_NAME}} ${{env.BUILD_ID}} 

      - name: "BuildInfo: Add VCS info"
        run: jf rt bag ${{env.BUILD_NAME}} ${{env.BUILD_ID}} 

      - name: "BuildInfo: Build Publish"
        run: jf rt bp ${{env.BUILD_NAME}} ${{env.BUILD_ID}} --detailed-summary=true
